@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/mixins";

.cart {
  padding-top: 50px;
  padding-bottom: 110px;

  .container {
    .cart-empty{
      margin-top: 20px;
      margin-bottom: 100px;
      div{
        font-size: 16px;
      }
      .button{
        width: 255px;
        margin-top: 10px;
      }

    }
    .cart-title {
      @include head-lora-36;
    }

    .cart-info {
      display: flex;
      justify-content: space-between;
      margin-top: 35px;
      margin-bottom: 160px;

      .cart-products {
        width: 678px;

        .cart-product {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-top: 20px;
          margin-top: 20px;
          border-top: 1px solid #ebebeb;

          &:first-child {
            padding-top: 0;
            margin-top: 0;
            border-top: 0;
          }

          .cart-product-image {
            background-size: cover;
            background-position: center;
            width: 80px;
            height: 80px;
            margin-right: 26px;
            border-radius: 5px;
          }

          .cart-product-name {
            font-family: $font-family;
            font-weight: 500;
            font-size: 16px;
            line-height: 130%;
            color: #000;
            width: 247px;
            margin-right: 10px;
          }

          .cart-product-price {
            margin-left: 69px;
            font-family: $font-family;
            font-weight: 600;
            font-size: 18px;
            color: $gray-text-color;
            margin-right: 19px;
            width: 100px;
          }

          .cart-product-remove {
            cursor: pointer;
          }
        }
      }

      .cart-details {
        width: 501px;

        .cart-details-info {
          border-radius: 5px;
          padding: 40px;
          background: #e7f1e8;
          margin-bottom: 12px;


          .cart-details-info-title {
            font-family: $second-family;
            font-weight: 400;
            font-size: 26px;
            margin-bottom: 20px;
            color: $green-text-color;
          }

          .cart-details-info-item {
            display: flex;
            align-items: center;
            color: $gray-text-color;
            &.first{
              margin-bottom: 10px;
            }
            .cart-details-info-item-text {
              font-family: $font-family;
              font-weight: 400;
              font-size: 16px;
              margin-right: 12px;
            }

            .cart-details-info-item-data {
              font-family: $font-family;
              font-weight: 500;
              font-size: 20px;
            }

          }
          .cart-details-info-delivery{
            font-family: $font-family;
            font-style: italic;
            font-weight: 300;
            font-size: 14px;
            color: $gray-text-color;
            margin-top: 5px;
          }
        }
        .cart-details-actions{
          display: flex;
          align-items: center;
          justify-content: space-between;
          .button{
            width: 234px;
            &.button-transparent{
              width: 255px;
              margin-right: 12px;
              color: #6cac72;
            }
          }

        }
      }
    }


  }
}
