.count-selector{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 97px;

  div{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}
