<div class="order">
  <div class="container">
    <div class="order-title">
      Оформление вашего заказа
    </div>
    <div class="order-info">
      <div [formGroup]="orderForm" class="order-form">

        <div class="order-form-block">
          <div class="order-form-label">
            Выберите способ доставки
          </div>
          <div class="order-form-types">
            <div (click)="changeDeliveryType(deliveryTypes.delivery)" [class.active]="deliveryType===deliveryTypes.delivery"
                 class="order-form-type-item">Курьером
            </div>
            <div (click)="changeDeliveryType(deliveryTypes.self)" [class.active]="deliveryType===deliveryTypes.self"
                 class="order-form-type-item">Самовывоз
            </div>
          </div>
        </div>

        <div class="order-form-block">
          <div class="order-form-label">
            Заполните личные данные
          </div>
          <div class="order-form-inputs personal-data-inputs">

            <input [style]="{'border-color': orderForm.get('lastName')?.invalid
            && (orderForm.get('lastName')?.dirty || orderForm.get('lastName')?.touched) ?'red':''}" class="input" formControlName="lastName" placeholder="Фамилия"
                   type="text">

            <input [style]="{'border-color': orderForm.get('firstName')?.invalid
            && (orderForm.get('firstName')?.dirty || orderForm.get('firstName')?.touched) ?'red':''}" class="input" formControlName="firstName" placeholder="Имя"
                   type="text">

            <input [style]="{'border-color': orderForm.get('fatherName')?.invalid
            && (orderForm.get('fatherName')?.dirty || orderForm.get('fatherName')?.touched) ?'red':''}" class="input" formControlName="fatherName" placeholder="Отчество"
                   type="text">

            <input [style]="{'border-color': orderForm.get('phone')?.invalid
            && (orderForm.get('phone')?.dirty || orderForm.get('phone')?.touched) ?'red':''}" class="input" formControlName="phone" placeholder="Телефон"
                   type="tel">

            <input [style]="{'border-color': orderForm.get('email')?.invalid
            && (orderForm.get('email')?.dirty || orderForm.get('email')?.touched) ?'red':''}" class="input" formControlName="email" placeholder="E-mail"
                   type="email">

          </div>
        </div>

        @if (deliveryType !== deliveryTypes.self) {

          <div class="order-form-block">
          <div class="order-form-label">
            Заполните адрес доставки
          </div>
          <div class="order-form-inputs address-inputs">
            <input [style]="{'border-color': orderForm.get('street')?.invalid
            && (orderForm.get('street')?.dirty || orderForm.get('street')?.touched) ?'red':''}" class="input street" formControlName="street" placeholder="Улица"
                   type="text">

            <input [style]="{'border-color': orderForm.get('house')?.invalid
            && (orderForm.get('house')?.dirty || orderForm.get('house')?.touched) ?'red':''}" class="input house" formControlName="house" placeholder="№ дома"
                   type="text">

            <input [style]="{'border-color': orderForm.get('entrance')?.invalid
            && (orderForm.get('entrance')?.dirty || orderForm.get('entrance')?.touched) ?'red':''}" class="input entrance" formControlName="entrance" placeholder="Подъезд"
                   type="text">

            <input [style]="{'border-color': orderForm.get('apartment')?.invalid
            && (orderForm.get('apartment')?.dirty || orderForm.get('apartment')?.touched) ?'red':''}" class="input apartment" formControlName="apartment" placeholder="№ квартиры"
                   type="text">

          </div>
        </div>
        }

        <div class="order-form-block">
          <div class="order-form-label payment">
            Выберите способ оплаты
          </div>

          <div class="order-form-radio">
            <div class="order-form-radio-block">
              <input formControlName="paymentType" id="card" type="radio"
                     value="{{PaymentType.cardOnline}}">
              <span class="radio-icon"></span>
              <label for="card">Оплата банковской картой в интернет-магазине</label>
            </div>
            <div class="order-form-radio-block">
              <input formControlName="paymentType" id="cashless" type="radio"
                     value="{{PaymentType.cardToCourier}}">
              <span class="radio-icon"></span>
              <label for="cashless">Безналичный расчет при получении</label>
            </div>
            <div class="order-form-radio-block">
              <input formControlName="paymentType" id="cash" type="radio"
                     value="{{PaymentType.cashToCourier}}">
              <span class="radio-icon"></span>
              <label for="cash">Наличный расчет при получении</label>
            </div>
          </div>
        </div>

        <div class="order-form-block">
          <div class="order-form-label">
            Комментарий к заказу (необязательно)
          </div>
          <div class="order-form-inputs">
            <textarea [style]="{'border-color': orderForm.get('comment')?.invalid
            && (orderForm.get('comment')?.dirty || orderForm.get('comment')?.touched) ?'red':''}" class="input" cols="30" formControlName="comment"
                      placeholder="Оставьте свой комментарий..."
                      rows="5">

            </textarea>
          </div>
        </div>
      </div>

      <div class="order-details">

        <div class="order-details-info">
          <div class="order-details-info-title">Ваш заказ</div>
          @if (cart()) {

            <div class="order-details-info-item">
              <div class="order-details-info-item-text">Товаров:</div>
              <div class="order-details-info-item-data">{{ totalCount }}</div>
            </div>
            <div class="order-details-info-item">
              <div class="order-details-info-item-text">Общая стоимость:</div>
              <div class="order-details-info-item-data">{{ totalAmount }} BYN</div>
            </div>
            <div class="order-details-info-item">
              <div class="order-details-info-item-text">Стоимость доставки:</div>
              <div class="order-details-info-item-data">10 BYN</div>
            </div>
            <div class="order-details-info-item">
              <div class="order-details-info-item-text">Итоговая стоимость:</div>
              <div class="order-details-info-item-data">{{ totalAmount + 10 }} BYN</div>
            </div>

          }
        </div>

        <button (click)="createOrder()" class="button" routerLink="/order">Подтвердить заказ</button>

      </div>
    </div>
  </div>
</div>

