@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/mixins";

.order {
  padding-top: 86px;
  padding-bottom: 107px;

  .container {
    .order-title {
      @include head-lora-32;
    }

    .order-info {
      margin-top: 30px;
      display: flex;
      justify-content: space-between;

      .order-form {
        max-width: 646px;

        .order-form-block {
          margin-bottom: 30px;

          .order-form-label {
            margin-bottom: 20px;
            font-family: $font-family;
            font-weight: 500;
            font-size: 16px;
            color: $gray-text-color;

            &.payment {
              margin-bottom: 12px;
            }
          }

          .order-form-types {
            display: flex;
            align-items: center;
            max-width: 340px;
            box-sizing: border-box;
            border: 1px solid #519057;
            border-radius: 3px;
            text-align: center;
            font-size: 18px;
            color: $gray-text-color;

            .order-form-type-item {
              padding: 13px 35px;
              background: transparent;
              cursor: pointer;

              &.active {
                color: #fff;
                background-color: #519057;
              }
            }
          }

          .order-form-inputs {
            display: grid;
            gap: 8px;

            input[type=text] {
              height: 53px;
            }

            &.personal-data-inputs {
              grid-template-columns:repeat(3, 210px);
            }

            &.address-inputs {
              grid-template-columns:repeat(2, 125px) 162px;
              grid-template-rows:1fr 1fr;
              grid-template-areas:
            "street street street"
            "house entrance apartment";

              .street {
                grid-area: street;
              }

              .house {
                grid-area: house;
              }

              .entrance {
                grid-area: entrance;
              }

              .apartment {
                grid-area: apartment;
              }
            }

          }

          .order-form-radio {
            .order-form-radio-block {
              margin-bottom: 12px;

              &:last-child {
                margin-bottom: 0;
              }

              label {
                font-size: 16px;
                color: $gray-text-color;
              }

              input:checked {
                + lable {
                  font-family: $font-family;
                  font-weight: 500;
                }
              }
            }
          }
        }
      }

      .order-details {
        width: 422px;

        .order-details-info {
          border-radius: 5px;
          background: #e7f1e8;
          padding: 40px;
          margin-bottom: 14px;

          .order-details-info-title {
            font-family: $second-family;
            font-weight: 400;
            font-size: 26px;
            margin-bottom: 20px;
            color: $green-text-color;
          }

          .order-details-info-item {
            display: flex;
            align-items: center;
            color: $gray-text-color;
            margin-bottom: 10px;

            .order-details-info-item-text {
              font-size: 16px;
              margin-right: 12px;
            }

            .order-details-info-item-data {
              font-family: $font-family;
              font-weight: 500;
              font-size: 20px;
            }

            &:last-child {
              margin-bottom: 0;

              .order-details-info-item-data,
              .order-details-info-item-text {
                font-family: $font-family;
                font-weight: 600;
              }
            }
          }
        }

        .button {
          width: 100%;
        }
      }
    }
  }
}
