@import "variables";

@mixin head-lora-32{
  font-family: $second-family;
  font-weight: 400;
  font-size: 32px;
  line-height: 130%;
  color: $green-text-color;
}
@mixin head-lora-36{
  font-family: $second-family;
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  color: #000;
}

