@import "variables";
@import "mixins";

.personal-title {
  @include head-lora-32;
  margin-bottom: 30px;
}

.personal-pages-selector {
  margin-bottom: 50px;
  font-family: $second-family;
  font-weight: 400;
  font-size: 26px;
  color: $green-text-color;
  display: flex;
  align-items: center;

  .personal-page {
    border-bottom: 2px solid #b6d5b9;
    padding: 0 15px 12px;
    cursor: pointer;

    &.active {
      border-bottom: 3px solid #519057;;
    }
  }
}
