@use '@angular/material' as mat;
//
html {
  height: 100%;
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

body, app-root {
  height: 100%;
}
app-layout{
  height: 100%;
  display: flex; flex-direction:column; justify-content: space-between;
}

@import 'variables';
@import "mixins";
@import 'fonts';
@import 'global';
